<div class="child-container">
  <p [innerHTML]="list.content | highlightNew:list | highlight:this.searchText:'highlight-search' | sanitizeHtml">
  </p>
  @if (!!list.listType) {
    <ol [type]="list.listType" [start]="this.startValue">
      @for (item of list.list; track item) {
        <li>
          <div>
            <p
              [innerHTML]="item.content | highlightNew:item | highlight:this.searchText:'highlight-search' | refs:item | sanitizeHtml">
            </p>
            @for (listItem of item.lists; track listItem) {
              <app-section-list [list]="listItem">
              </app-section-list>
            }
          </div>
        </li>
      }
    </ol>
  } @else {
    <ul>
      @for (item of list.list; track item) {
        <li>
          <div>
            <p
              [innerHTML]="item.content | highlightNew:item | highlight:this.searchText:'highlight-search' | refs:item | sanitizeHtml">
            </p>
            @for (listItem of item.lists; track listItem) {
              <app-section-list [list]="listItem">
              </app-section-list>
            }
          </div>
        </li>
      }
    </ul>
  }
</div>