table {
  border-collapse: collapse;
}

td,
th.category {
  font-size: var(--rules-font-size);
}

h2 {
  margin-top: 2em;
}

h2>a,
h3>a {
  text-decoration: none;
}

td.category {
  width: 200px;
}

td.id {
  width: 50px;
  text-align: center;
}

td.content {
  width: 350px;
}

mat-list-item {
  margin: 0;
}

p.superscript {  
  font-size: var(--rules-font-size);
}