<ng-container *ngIf="this.categories && this.attachments">
  <ng-container [ngTemplateOutlet]="(this.windowService.isMobile$ | async) ? MOBILE : DESKTOP"></ng-container>
</ng-container>

<ng-template #DESKTOP>
  <ng-container *ngFor="let attachment of this.attachments">
    <ng-container *ngIf="attachment">
      <h2 [id]="attachment.id"><a href="#{{attachment.id}}">{{attachment.header}}</a></h2>
      <table *ngIf="attachment.table && attachment.categoryField;else SECTIONS">
        <tr>
          <th></th>
          <th></th>
          <th class="category" *ngFor="let category of this.categories"
            [innerHTML]="category.name | highlightNew:category | sanitizeHtml">
          </th>
        </tr>
        <tr *ngFor="let row of attachment.table; let i = index">
          <ng-container *ngIf="attachment.categoryField">
            <td class="id">{{row.id}}.</td>
            <td class="content" [innerHTML]="row.content | highlightNew:row | sanitizeHtml"></td>
            <td class="category" *ngFor="let category of this.categories">
              <p *ngIf="category && category[attachment.categoryField]">
                <span
                  [innerHTML]="category[attachment.categoryField][i].content | highlightNew:category[attachment.categoryField][i] | sanitizeHtml"></span>
                <sup *ngIf="category[attachment.categoryField][i].superscript"
                  [innerHTML]="category[attachment.categoryField][i].superscript | highlightNew:category[attachment.categoryField][i] | sanitizeHtml"></sup>
              </p>
            </td>
          </ng-container>
        </tr>
      </table>
      <ng-template #SECTIONS>
        <ng-container *ngIf="!attachment.categoryField;else CATEGORYCONTENTS">
          <app-section *ngFor="let section of attachment.table" [section]="section"></app-section>
        </ng-container>
      </ng-template>
      <ng-template #CATEGORYCONTENTS>
        <ng-container *ngFor="let category of this.categories">
          <ng-container *ngIf="!!category[attachment.categoryField] && category[attachment.categoryField].length > 0">
            <app-section *ngFor="let section of category[attachment.categoryField]" [section]="section"></app-section>
          </ng-container>
        </ng-container>
      </ng-template>
      <ng-container *ngFor="let superscript of attachment.superscripts">
        <p>
          <sup [innerHTML]="superscript.id | highlightNew:superscript | sanitizeHtml"></sup>
          <span [innerHTML]="superscript.content | highlightNew:superscript | sanitizeHtml"></span>
        </p>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #MOBILE>
  <ng-container *ngFor="let attachment of this.attachments">
    <h2 [id]="attachment.id"><a href="#{{attachment.id}}">{{attachment.header}}</a></h2>
    <ng-container *ngIf="attachment.categoryField;else SECTIONS">
      <mat-tab-group animationDuration="0ms" color="primary" backgroundColor="primary" [selectedIndex]="this.selectedIndex" (selectedIndexChange)="this.selectedIndex = $event">
        <ng-container *ngFor="let category of this.categories">
          <mat-tab [label]="category.name"
            *ngIf="attachment.table || (!!category[attachment.categoryField] && category[attachment.categoryField].length > 0)">
            <table *ngIf="attachment.table;else SECTIONS">
              <tr>
                <th></th>
                <th></th>
                <th class="category" [innerHTML]="category.name | highlightNew:category | sanitizeHtml">
                </th>
              </tr>
              <tr *ngFor="let row of attachment.table; let i = index">
                <td class="id">{{row.id}}.</td>
                <td class="content" [innerHTML]="row.content | highlightNew:row | sanitizeHtml"></td>
                <td class="category">
                  <p>
                    <span
                      [innerHTML]="category[attachment.categoryField][i].content | highlightNew:category[attachment.categoryField][i] | sanitizeHtml"></span>
                    <sup *ngIf="category[attachment.categoryField][i].superscript"
                      [innerHTML]="category[attachment.categoryField][i].superscript | highlightNew:category[attachment.categoryField][i] | sanitizeHtml"></sup>
                  </p>
                </td>
              </tr>
            </table>
            <ng-template #SECTIONS>
              <ng-container *ngFor="let category of this.categories">
                <ng-container
                  *ngIf="!!category[attachment.categoryField] && category[attachment.categoryField].length > 0">
                  <app-section *ngFor="let section of category[attachment.categoryField]"
                    [section]="section"></app-section>
                </ng-container>
              </ng-container>
            </ng-template>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </ng-container>

    <ng-template #SECTIONS>
      <app-section *ngFor="let section of attachment.table" [section]="section"></app-section>
    </ng-template>

    <ng-container *ngFor="let superscript of attachment.superscripts">
      <p class="superscript">
        <sup [innerHTML]="superscript.id | highlightNew:superscript | sanitizeHtml"></sup>
        <span [innerHTML]="superscript.content | highlightNew:superscript | sanitizeHtml"></span>
      </p>
    </ng-container>
  </ng-container>
</ng-template>