table {
  border-collapse: collapse;
}

td, th.category {
  border: 1px solid black;
}

h2 {
  margin-top: 2em;
}

h2>a,
h3>a {
  text-decoration: none;
  color: black;
}

td.category {
  width: 200px;
}
td.id {
  width: 50px;
  text-align: center;
}
td.content {
  width: 350px;
}

mat-list-item {
  margin: 0;
}