<mat-toolbar color="accent">
  <mat-icon color="primary-50" (click)="this.menuClicked.emit()">menu</mat-icon>
  <span class="title">{{this.rules.title}}</span>

  <mat-icon *ngIf="!this.hasActiveSearch;else ACTIVESEARCH" color="primary-50" (click)="this.openSearch()">search</mat-icon>
  <ng-template #ACTIVESEARCH>
    <mat-icon color="primary-50" (click)="this.openSearch()">saved_search</mat-icon>
  </ng-template>
  <mat-icon color="primary-50" (click)="this.settingsClicked.emit()">settings</mat-icon>
</mat-toolbar>