@for (section of this.data.content; track section) {
  @if (section.id) {
    <mat-card>
      <mat-card-header (click)="this.openClose(section)">
        <mat-card-title>
          @if (section.id && !this.opened[section.id].isExpandable) {
            <a href="#{{section.id}}" (click)="this.navItemClicked.emit()">
              {{section.id}} {{section.header}}
            </a>
          }
          @if (this.opened[section.id].isExpandable) {
            <div>
              <span>{{section.id}} {{section.header}}</span>
              @if (!this.opened[section.id].isOpen) {
                <mat-icon>expand_more</mat-icon>
              }
              @if (this.opened[section.id].isOpen) {
                <mat-icon>expand_less</mat-icon>
              }
            </div>
          }
        </mat-card-title>
      </mat-card-header>
      @if (this.opened[section.id].isOpen) {
        <mat-card-content>
          @if (section.children) {
            <mat-nav-list>
              @for (child of section.children; track child) {
                @if (child.header) {
                  <a href="#{{child.id}}" mat-list-item
                  (click)="this.navItemClicked.emit();this.openClose(section)">{{child.id}} {{child.header}}</a>
                }
              }
            </mat-nav-list>
          }
        </mat-card-content>
      }
    </mat-card>
  }
  @if (!section.id && section.depth && section.href) {
    <mat-card>
      <mat-card-header (click)="this.openClose(section)">
        <mat-card-title>
          @if (!this.opened[section.href].isExpandable) {
            <a href="#{{section.href}}" (click)="this.navItemClicked.emit()">
              {{section.header}}
            </a>
          }
          @if (this.opened[section.href].isExpandable) {
            <div>
              <span>{{section.header}}</span>
              @if (!this.opened[section.href].isOpen) {
                <mat-icon>expand_more</mat-icon>
              }
              @if (this.opened[section.href].isOpen) {
                <mat-icon>expand_less</mat-icon>
              }
            </div>
          }
        </mat-card-title>
      </mat-card-header>
      @if (this.opened[section.href].isOpen) {
        <mat-card-content>
          @if (section.children) {
            <mat-nav-list>
              @for (child of section.children; track child) {
                @if (child.header) {
                  <a href="#{{child.href}}" mat-list-item
                  (click)="this.navItemClicked.emit();this.openClose(section)">{{child.header}}</a>
                }
              }
            </mat-nav-list>
          }
        </mat-card-content>
      }
    </mat-card>
  }
}

<ng-container>
  @if (this.getCommands()?.length > 0) {
    <mat-expansion-panel #komennot>
      <mat-expansion-panel-header>KOMENNOT</mat-expansion-panel-header>
      <mat-nav-list>
        @for (command of this.getCommands(); track command) {
          <a href="#{{command.href}}" mat-list-item
            (click)="this.navItemClicked.emit();komennot.close()">
            {{command.header}}
            @if (command.subheader) {
              <p class="command-subheader">{{command.subheader}}</p>
            }
          </a>
        }
      </mat-nav-list>
    </mat-expansion-panel>
  }
</ng-container>

<ng-container>
  @if (this.data.attachments && this.data.attachments.length > 0) {
    <mat-expansion-panel #liitteet>
      <mat-expansion-panel-header>LIITTEET</mat-expansion-panel-header>
      <mat-nav-list>
        @for (attachment of this.data.attachments; track attachment) {
          <a href="#{{attachment.id}}" mat-list-item
          (click)="this.navItemClicked.emit();liitteet.close();">{{attachment.header}}</a>
        }
      </mat-nav-list>
    </mat-expansion-panel>
  }
</ng-container>