<div class="content">
  <mat-form-field appearance="fill">
    <mat-label>Hae...</mat-label>
    <input type="text" matInput (input)="this.onTextChanged($event.target)" (keyup.enter)="search.blur()" #search>
    <mat-hint *ngIf="this.searchResults">Löydetty {{this.searchResults.length}} hakutulosta.</mat-hint>
  </mat-form-field>

  <div class="searchresults">
    <ng-container *ngFor="let searchResult of this.searchResults">
      <mat-card>
        <mat-card-header>
          <mat-card-title><a href="#{{searchResult.path?.id ?? searchResult.path?.href}}"
              [innerHTML]="searchResult.content | limit:'around':150:this.searchText| highlight:this.searchText | sanitizeHtml"></a></mat-card-title>
          <mat-card-subtitle *ngIf="!searchResult.id && searchResult.path">{{searchResult.path.id}}
            {{searchResult.path.content}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </ng-container>
  </div>
</div>