<div class="content">
  <mat-form-field appearance="fill">
    <mat-label>Hae...</mat-label>
    <input type="text" matInput [value]="this.searchText" (input)="this.onTextChanged($event.target)"
      (keyup.enter)="search.blur()" #search>
      <mat-hint>
        @switch (this.status) {
          @case (SearchStatus.WaitingForInput) {
            Kirjoita vähintään 3 merkkiä hakeaksesi.
          }
          @case (SearchStatus.Searching) {
            Hakee...
          }
          @case (SearchStatus.Complete) {
            Löydetty {{this.searchResults.length}}
            hakutulosta.
          }
        }
      </mat-hint>
    </mat-form-field>
    @if (this.searchText.length > 0) {
      <mat-icon (click)="this.clearSearch()">clear</mat-icon>
    }

    <div class="searchresults">
      @for (searchResult of this.searchResults; track searchResult) {
        <mat-card color="primary" class="search-card">
          <mat-card-header>
            <mat-card-title><a href="#{{searchResult.path?.id ?? searchResult.path?.href}}"
            [innerHTML]="searchResult.content | limit:'around':150:this.searchText| highlight:this.searchText:'highlight-search' | sanitizeHtml"></a></mat-card-title>
            @if (searchResult.path) {
              <mat-card-subtitle>
              {{searchResult.path.content | limit:'start':40}}</mat-card-subtitle>
            }
          </mat-card-header>
        </mat-card>
      }
    </div>
  </div>