@use '@angular/material' as mat;
@use 'sass:map';

/* You can add global styles to this file, and also import other style files */

// import our custom theme
@use 'themes';

$dark-contrast-500: map.get(map.get(themes.$md-dark, contrast), 500);

.dark {
  @include mat.all-component-themes(themes.$dark-theme);

  a {
    // color: mat-contrast(themes.$md-dark, 500);
    color: $dark-contrast-500;
  }

  .highlight-search {
    background-color: map.get(themes.$md-green, 200);
  }

  .highlight-new {
    background-color: map.get(themes.$md-green, 300);
  }

  td.id,
  td.content,
  td.category,
  th.category {
    border: 1px solid $dark-contrast-500;
  }
}

$light-contrast-500: map.get(map.get(themes.$md-light, contrast), 500);

.light {
  @include mat.all-component-colors(themes.$light-theme);
  @include mat.all-component-typographies(themes.$light-theme);
  @include mat.all-component-densities(themes.$light-theme);

  a {
    color: $light-contrast-500;
  }

  .highlight-search {
    background-color: map.get(themes.$md-green, 50);
  }

  .highlight-new {
    background-color: map.get(themes.$md-green, 100);
  }

  td.id,
  td.content,
  td.category,
  th.category {
    border: 1px solid $light-contrast-500;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2,
h3 {
  font-weight: 500;
}