.child-container {
  margin-left: 30px;
}

.bold {
  font-weight: bold;
}

a {
  cursor: pointer;
}

h2>a,
h3>a,
h4>a,
.child-container>a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: calc(var(--rules-font-size) + 6px);
}

h3 {
  font-size: calc(var(--rules-font-size) + 4px);
}

h4 {
  font-weight: bold;
  font-size: var(--rules-font-size);
}

.img-container {
  margin: auto;
}

img {
  margin-left: 1em;
  width: 90vw;
  max-width: 1000px;
}

*>p, *>li, *>td {
  font-size: var(--rules-font-size);
}