<div>
  @switch (this.getSectionDepth()) {
    @case (0) {
      <h2 [id]="this.section.id"><a class="md-accent" href="#{{this.section.id}}"
      [innerHTML]="this.section.id + ' ' + this.section.header | highlightNew:this.section | highlight:this.searchText:'highlight-search' | sanitizeHtml"></a>
    </h2>
  }
  @case (1) {
    <h3 [id]="this.section.id"><a href="#{{this.section.id}}"
    [innerHTML]="this.section.id + ' ' + this.section.header | highlightNew:this.section | highlight:this.searchText:'highlight-search' | sanitizeHtml"></a>
  </h3>
}
@case (2) {
  <p [id]="this.section.id" class="child-container">
    <a href="#{{this.section.id}}"
    [innerHTML]="this.section.id + '&nbsp;' | highlightNew:this.section | highlight:this.searchText:'highlight-search' | sanitizeHtml"></a>
    <span
    [innerHTML]="this.section.content | highlightNew:this.section | highlight:this.searchText:'highlight-search' | refs:this.section | sanitizeHtml"></span>
  </p>
}
@case (3) {
  <p [id]="this.section.id" class="child-container">
    <a href="#{{this.section.id}}"
    [innerHTML]="this.section.id + '&nbsp;' | highlightNew:this.section | highlight:this.searchText:'highlight-search' | sanitizeHtml"></a>
    <span
    [innerHTML]="this.section.content | highlightNew:this.section | highlight:this.searchText:'highlight-search' | refs:this.section | sanitizeHtml"></span>
  </p>
}
@default {
  <div [id]="this.section.href" class="child-container" [ngClass]="{'indent': section.indent}">
    @if (!this.section.header) {
<p [innerHtml]="this.section.content | highlightNew:this.section |
        highlight:this.searchText:'highlight-search' | refs:this.section | sanitizeHtml"></p>
    } @else {
      <h4><a href="#{{this.section.href}}">{{this.section.header}} {{this.section.subheader ?? ''}}</a></h4>
      <p
        [innerHTML]="this.section.content | highlightNew:this.section | highlight:this.searchText:'highlight-search' | refs:this.section | sanitizeHtml">
      </p>
    }
  </div>
}
}
@if (this.section.img) {
  <div class="img-container">
    <img [src]="this.section.img | themedImage" [alt]="this.section.imgAlt" />
  </div>
}
@if (!!this.section.lists && this.section.lists.length > 0) {
  @for (list of this.section.lists; track list; let i = $index) {
    <app-section-list [list]="list"
    [startValue]="this.getStartValue(i)"></app-section-list>
  }
}
@if (!!this.section.children && this.section.children.length > 0) {
  @for (item of this.section.children; track item) {
    <app-section [section]="item"></app-section>
  }
}
</div>